  @import url('https://fonts.googleapis.com/css2?family=Playfair:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair', serif;
    
}

body{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(171,60,60,1) 50%, rgba(252,69,69,1) 100%);
}

h1,h2,h3,h4,h5,h6,p,a,input,textarea,ul{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
}

a{
    text-decoration: none;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

aside{
    padding: 2rem;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
    font-size: 2.3rem;
}

.menu{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.boton-menu:hover{
    background-color: white;
    color: violet;
    border-radius: 12px;
}

.boton-carrito{
    margin-top: 7rem;
}

.numerito {
    background-color: white;
    color: red;
    padding:  .25rem;
    border-radius: .25rem;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}



.texto-footer{
    color: rgb(13, 11, 11) ;
    font-size: 1.2rem;
}

main{
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 1rem;
}

.titulo-principal{
    color:rgba(255, 0, 0, 0.436) ;
    margin-bottom: 2rem;
    font-weight: 900;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 1rem;
}

.producto-imagen{
    max-width: 100%;
    gap: 1rem;
    border-radius: 1rem;
}

.producto-detalles{
    background-color: rgba(131,58,180,1);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.producto-titulo{
    font-size: 1.6rem ;
}

.producto-agregar{
    border: 0;
    background-color: white;
    color: red;
    font-size: 1.2rem;
    padding: .25rem;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid;
   
}

.producto-agregar:hover{
    background-color: red;
    color: white;
    transition: background-color .6s,color .6s;
}

/* Carrito */

.contenedor-carrito{
 display: flex;
 flex-direction: column;
 gap: 1.5rem;
}

.carrito-vacio{
    display: none;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.578);
    padding: .5rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    padding-right: 2rem;
}

.carrito-producto-imagen{
    width: 8rem;
    border-radius: 20px;
}

.carrito-producto small{
    font-size: 1.3rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
    
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: grey;
    padding: 1rem;
    border-radius: 20px;
    color: rgb(252, 252, 252);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-comprar{
    border: 0;
    background-color: grey;
    padding: 1.2rem;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-comprar:hover{
    transform: translatey(-5px);
}

.carrito-acciones-derecha{
    display: flex;
}

.disabled {
    display: none;
}

